<p id="notice"><%= notice %></p>

	<h1>Your Cart</h1>
	
	<ul>
		<% for item in @cart.line_items %>
			<li><%= item.quantity %> &times; <%= item.product.name %></li>
		<% end %>
	</ul>

<%= link_to 'Back', products_path, class: 'button' %>
